<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>مدونة</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      body {
          background-image: url("{{ url_for('static', filename='img13.jpg') }}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          
      }
    </style>
  </head>
  <body>
    <div class="container my-4 mt-4">

        <h2 class="text-center">بناء تطبيق ويب لتشخيص الأمراض استنادًا إلى الأعراض باستخدام فلاسك والتعلم الآلي</h2>
        <p dir="rtl">في عصر التكنولوجيا والمعلومات، أصبح الحصول على رعاية صحية دقيقة وفي الوقت المناسب أكثر أهمية من أي وقت مضى. ومع تزايد أهمية حلول الرعاية الصحية عن بُعد، انطلقنا في رحلة لتطوير تطبيق ويب لتشخيص الأمراض بناءً على الأعراض. ​​باستخدام Flask كبرنامج خلفي ونموذج تصنيف شجرة القرار، أنشأنا منصة سهلة الاستخدام تُمكّن المستخدمين من تحديد الأمراض المحتملة بناءً على أعراضهم المُبلغ عنها.</p>

        <h3 dir="rtl">المشكلة</h3>
        <p dir="rtl">بدأ المشروع بإدراك مشكلة شائعة: كثيرًا ما يعاني الناس من أعراض ويرغبون في إجابات سريعة حول مشاكلهم الصحية. قد يكون من الصعب التمييز بين الأمراض المختلفة، خاصةً عندما تتداخل الأعراض. ​​كان هدفنا توفير حل سهل للمستخدمين لإدخال أعراضهم وتلقي التشخيصات المحتملة.</p>

        <h3 dir="rtl">الحل</h3>
        <p dir="rtl">لقد طورنا تطبيق ويب يتيح للمستخدمين إدخال قائمة بالأعراض التي يعانون منها. ثم يستخدم التطبيق نموذج تصنيف شجرة القرار المُدرّب مسبقًا للتنبؤ بالمرض الأكثر احتمالًا بناءً على الأعراض المُقدّمة. إليك كيفية عمله:</p>

        <ol dir="rtl">
            <li><b><h5 >إدخال الأعراض:</h5></b>  يُدخل المستخدمون أعراضهم عبر واجهة سهلة الاستخدام. يدعم تطبيق الويب مجموعة واسعة من الأعراض، مما يجعله متعدد الاستخدامات في مختلف الحالات</li>
            <li><b><h5>نموذج التعلم الآلي:</h5></b> قمنا بتدريب مُصنِّف شجرة القرار باستخدام مجموعة بيانات تحتوي على أعراض وأمراض مُرتبطة بها. النموذج قادر على التنبؤ بالأمراض بناءً على الأعراض المُدخلة</li>
            <li><b><h5>التنبؤ:</h5></b> يستخدم التطبيق النموذج للتنبؤ بالمرض الأكثر احتمالاً، مما يوفر للمستخدمين معلومات فورية حول المشاكل الصحية المحتملة</li>
            <li><b><h5>معلومات إضافية:</h5></b>  لتحسين تجربة المستخدم، يوفر التطبيق أيضًا معلومات إضافية حول المرض المتوقع. تتضمن هذه المعلومات وصفًا للمرض، والاحتياطات الموصى بها، والأدوية، ونصائح غذائية، ونصائح للتمرين</li>

        </ol>

        <h3 dir="rtl">الميزات الرئيسية</h3>
        <ul type="circle" dir="rtl">
            <li><b><h5>واجهة سهلة الاستخدام:</h5></b> يتميز تطبيق الويب بواجهة بديهية وسهلة الاستخدام، مما يضمن أن يتمكن المستخدمون من إدخال أعراضهم دون أي متاعب</li>
            <li><b><h5>التنبؤات الدقيقة:</h5></b> من خلال الاستفادة من التعلم الآلي، يوفر نموذجنا تنبؤات دقيقة بالأمراض استنادًا إلى الأعراض التي يقدمها المستخدم.</li>
            <li><b><h5>معلومات شاملة: </h5></b>بالإضافة إلى التوقعات، يقدم التطبيق معلومات شاملة حول المرض المتوقع، بما في ذلك الأوصاف، والاحتياطات، والأدوية، وتوصيات النظام الغذائي، ونصائح التمرين</li>
            <li><b><h5>المحتوى التعليمي:</h5></b>لتزويد المستخدمين بالمعرفة، يتضمن التطبيق منشورات مدونة إعلامية حول مواضيع صحية مختلفة</li>
        </ul>

        <br>

        <h3 dir="rtl">خاتمة:</h3>
        <p dir="rtl">يُتيح تطبيقنا الإلكتروني لتشخيص الأمراض بناءً على الأعراض للمستخدمين قوة التعلم الآلي ومعلومات الرعاية الصحية. ويُعدّ مصدرًا قيّمًا للأفراد الذين يتطلعون إلى فهم حالتهم الصحية بسرعة وسهولة. من خلال الجمع بين التكنولوجيا والرعاية الصحية، نهدف إلى جعل الرعاية الصحية أكثر سهولةً وتركيزًا على المستخدم. في عصر تكتسب فيه حلول الرعاية الصحية عن بُعد أهميةً متزايدة، يُمثل هذا المشروع خطوةً مهمةً نحو توفير معلومات رعاية صحية سهلة الوصول وموثوقة للجميع. نأمل أن يُسهم هذا المشروع في تحسين الوعي الصحي، وبالتالي تحسين صحة الأفراد حول العالم.</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>