<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>developer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      body {
          background-image: url("{{ url_for('static', filename='img25.jfif') }}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
          
      }
    </style>
  </head>
  <body  dir="auto">

  <div class="container my-4 mt-4">
<h6>   
<h5>تعرف على المطور</h5>

<h5 dir="center"><strong>المهندس : مصعب الخطفاء</strong> </h5>
<p>بفضل خلفيتي الأكاديمية المتميزة في علوم الحاسوب وشغفي العميق بالذكاء الاصطناعي والتعلم الآلي، انطلقتُ في رحلةٍ أخذتني حول كيف أعمل فيها على مشاريع متنوعة ومبتكرة.  حظيتُ بشرف التعاون في مشاريع الاكاديمية تجاوزت حدود الإمكانيات المتاحة في مجال الذكاء الاصطناعي والتعلم الآلي
</p>
<h5>الالتزام بالتميز
</h5>
<p>يرتكز عملي على التزامي بالتميز وإيماني بأن التكنولوجيا يجب أن تكون في متناول الجميع ومفيدة لهم. سواءً كان ذلك تطوير نماذج تنبؤية، أو إنشاء خوارزميات ذكية، أو تصميم واجهات سهلة الاستخدام، أسعى جاهدًا لإيجاد حلول متطورة ومُركزة على المستخدم.


</p>
<h5>شغف بتكنولوجيا الصحة
</h5>
<p>يُجسّد تطوير نظام التوصيات الطبية شغفي بالذكاء الاصطناعي وتفاني في تحسين إمكانية الوصول إلى الرعاية الصحية. أؤمن بأن الذكاء الاصطناعي قادر على تغيير طريقة تعاملنا مع الرعاية الصحية، وجعلها أكثر تخصيصًا وإثراءً بالمعلومات. وهذه المنصة خير دليل على هذه الرؤية.


</p>
<h5>انضم إلي في هذه الرحلة
</h5>
<p>أدعوكم لاستكشاف نظام التوصيات الطبية وتجربة اندماج الذكاء الاصطناعي والرعاية الصحية عن كثب. معًا، يمكننا تمكين الأفراد بالمعرفة، وتعزيز رفاهيتهم، والمساهمة في مستقبل أكثر إشراقًا وصحة.
</p>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>